<div class="mt-4">

    <form method="POST">
        <div class="mb-3 mt-3 form-group">
            <label for="search-input" class="col-sm-2 col-form-label">Từ khóa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khóa ...">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">Giới tính</label>
                <select name="gender" id="inputState" class="form-select">
                    <option disabled hidden selected>Chọn giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>